@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

.nav-landing {
	background-color:rgb(42, 47, 63);
	border-color: #030033;
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	max-width: 1000px;
}

.nav-brand {
	height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px; 
    font-weight: 300; 
    color: #ffffff;
    padding: 10px;
    margin:auto;
    vertical-align: middle;
}

.navbar-ul {
    float: right;
    list-style-type: none;
    overflow: hidden;
	margin-bottom: 0;
}

.navbar-li {
    float: left;
	font-family: 'Merriweather', serif;
    font-size: 16px; 
    font-weight: 300;
    display: block;
    color: white;
    text-align: center;
    margin-left: 15px;
    text-decoration: none;
    box-shadow: none;
    outline: none;
}

.navbar-li:hover {
	cursor: pointer;
}

@media (max-width: 1030px) {
    .nav-landing {
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media only screen 
and (max-width : 540px) {
    .nav-landing {
        width: 100%;
        padding-left: 5%;
        padding-right: 2%;
    }
    .navbar-brand img {
        width: 30px;
        height: 30px;
    }
    .nav-brand {
        display: none;
    }
    .navbar-ul {
        padding-top: 10px;
    }
    .navbar-li {
        font-size: 15px; 
    }
}